.elementor-social-icons-wrapper {
    a:first-of-type {
        background: #4267B2 !important;

        i {
            color: white !important;
        }
    }

    a:last-of-type {
        background: #0077B5 !important;

        i {
            color: white !important;
        }
    }
}